/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.product-item-box {
	padding: 30px 25px;
}

.product-item-title {
	font-size: 19px;
	margin-bottom: 13px;
}

.product-item-content {
	padding-left: 24px;
}

.rakuten-item-snippet {
	font-size: 16px;
	margin-bottom: 13px;
}

.product-item-price {
	font-size: 16px;
	margin-bottom: 5px;

	.item-price {
		font-size: 18px;
		margin-right: 5px;
	}
}


.product-item-description {
	font-size: 14px;
	margin-bottom: 19px;
}

.product-item-buttons {
	gap: 10px;
}

.product-item-buttons a {
	font-size: 16px;
}