/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

// .wp-block-create-block-rakuten {
// 	background-color: #21759b;
// 	color: #fff;
// 	padding: 2px;
// }

.product-item-admin {
	margin-top: 0.7rem;
	font-size: 13px;
}

// .rakuten-item-box::after {
// 	content: "\e903";
// 	font-family: icomoon;
// }

.product-item-box {
	display: flex;
	padding: 3rem 2.5rem;
	// border: 3px solid #dfdfdf;
	position: relative;
	background: #fff;
	box-shadow: 0 0 10px #eee;
	border-radius: 5px;
}

.product-item-title {
	font-size: 1.7rem;
	line-height: 1.4;
	margin-bottom: 1.3rem;
}

.product-item-thumb {
	width: auto;
	min-width: 16%;
}

.product-item-content {
	width: auto;
	padding-left: 2.4rem;
}

.rakuten-item-snippet {
	font-size: 1.6rem;
	margin-bottom: 1.4rem;
}

.product-item-maker {
	margin-bottom: 0.5rem;
}

.product-item-price {
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 0.5rem;

	.item-price {
		font-size: 1.8rem;
		color: #e60012;
		margin-right: 0.5rem;
	}
}

.product-item-description {
	font-size: 1.4rem;
	margin-bottom: 1.9rem;
}

.product-item-buttons {
	display: flex;
}

.product-item-buttons a {
	display: flex;
	padding: 6px 12px;
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: bold;
	color: #fff;
	background: #222;
	margin-right: 1rem;
	border-radius: 3px;
}

.product-item-buttons a img[decoding="async"] {
	display: none;
}

.product-item-buttons .shoplinkamazon a {
	background: #f79901;
}

.product-item-buttons .shoplinkrakuten a {
	background: #bf0000;
}

.product-item-buttons .shoplinkyahoo a {
	background: #e60033;
}

.product-item-buttons .shoplinkmercari a {
	background: #4dc9ff;
}

.product-item-buttons .shoplinkdmm a {
	background: #00bcd4;
}